*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: rgb(210, 221, 233);
}
header{
    background-color: navy;
    color: #ff5517;
    width: 100%;
    padding: 20px;
    text-align: center;
}
.container{
    display: flex;
    margin-top: 20px;
}

.search{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; 
    width: 30%;
    height: 100vh; /* Set a specific height, in this case, full height of the viewport */
}

.search-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: black 1px solid;
    text-align: center;
    width: 100%;
    margin-bottom: 15px;
    padding: 20px;
}

#searchbtn{
    display:block;
    margin:10px;
    padding:5px;
}
#search-bar{
    margin:10px 0;
    padding:5px;
}
#alert{
    display: none;
    color: red;
}
.history-list li{
    text-align: center;
    list-style-type: none;
    margin:5px;
    border: black 2px solid;
    border-radius:10px;
    padding: 5px;
    width:200px;
    background-color:#cacaca;
    &:hover{
        background-color:black;
        #Historysearch{color:#cacaca;}
    }
}
#Historysearch{
    text-decoration: none;
    color:black;
}
.results{
    width:74%;
    text-align: center;
    margin-left:5%;
    visibility: hidden;
}
.today{
    background-color: navy;
    color: #cacaca;
    border:black 1px solid;
    border-radius: 15px;
    padding: 25px;
    text-align:center;
    width: 82.5%
}
.today h2{
    display:inline-block;
    color: #ff5517;
}
.today img{
    display:inline-block;
}
.today li{
    list-style-type: none;
    margin:5px;
}
#date{
    margin-left:15px;
}
.future{
    text-align: left;
}
.future h2{
    margin-top: 20px;
    text-align: left;
}

.card{
    text-align: left;
    background-color: navy;
    color:#cacaca;
    display: inline-block;
    padding:25px;
    margin:15px;
    border-radius: 15px;
}
.card1{
    margin-left:0px;
}
.card h3{
    color: #ff5517;
}
.card li{
    list-style-type: none;
    margin: 5px;
}